/calculoVenda/target/
/qualMaior/target/
/intervalos/target/
/mediaAluno2/target/
/numeRandom/target/
/idades/target/
/descobrirSexo/target/
/vendaCarros/target/
/servMilitar/target/
/precoCusto/target/
/comparaNum/target/
/alteraNum/target/
/numIgualDiff/target/
/numExtenso/target/
/vendaDesconto/target/
